In [65]:
#ANS.2.

import selenium
import pandas as pd
from selenium import webdriver

In [69]:
driver=webdriver.Chrome(r"C:\Users\NILANJAN GUPTA\Downloads\chromedriver_win32\chromedriver.exe")

In [70]:
url="https://www.bcci.tv"

In [71]:
driver.get(url)

In [74]:
Match_Title=driver.find_elements_by_xpath('//span[@class="fixture__date"]')

In [75]:
Match_Title

Mt=[]
for i in Match_Title:
    Mt.append(i.text)
Mt

['24',
 '31',
 '03',
 '05',
 '08',
 '17',
 '19',
 '21',
 '25',
 '03',
 '17',
 '26',
 '03',
 '11',
 '14',
 '16',
 '19',
 '21',
 '23',
 '26']

In [76]:
Series=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')

In [77]:
S=[]

for i in Series:
    S.append(i.text)
S

['Match 16',
 'Match 28',
 'Match 33',
 'Match 37',
 'Match 42',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I']

In [78]:
Place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')

In [79]:
Place

P=[]
for i in Place:
    P.append(i.text)
P

['Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl']

In [80]:
Date=driver.find_elements_by_xpath('//span[@class="fixture__date"]')

In [81]:
Date
D=[]
for i in Date:
    D.append(i.text)
D

['24',
 '31',
 '03',
 '05',
 '08',
 '17',
 '19',
 '21',
 '25',
 '03',
 '17',
 '26',
 '03',
 '11',
 '14',
 '16',
 '19',
 '21',
 '23',
 '26']

In [82]:
Month=driver.find_elements_by_xpath('//span[@class="fixture__month"]')

In [83]:
Month
M=[]
for i in Month:
    M.append(i.text)
M

['OCTOBER',
 'OCTOBER',
 'NOVEMBER',
 'NOVEMBER',
 'NOVEMBER',
 'NOVEMBER',
 'NOVEMBER',
 'NOVEMBER',
 'NOVEMBER',
 'DECEMBER',
 'DECEMBER',
 'DECEMBER',
 'JANUARY',
 'JANUARY',
 'JANUARY',
 'JANUARY',
 'JANUARY',
 'JANUARY',
 'JANUARY',
 'JANUARY']

In [84]:
Time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')

In [85]:
Time

T=[]
for i in Time:
    T.append(i.text)
T

['19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST']

In [87]:
df=pd.DataFrame({})
df['Match Title']=Mt
df['Series']=S
df['Place']=P
df['Date']=D
df['Month']=M
df['Time']=T
df

,Match Title,Series,Place,Date,Month,Time
0,24,Match 16,"Dubai International Stadium, Dubai",24,OCTOBER,19:30 IST
1,31,Match 28,"Dubai International Stadium, Dubai",31,OCTOBER,19:30 IST
2,03,Match 33,"Zayed Cricket Stadium, Abu Dhabi",03,NOVEMBER,19:30 IST
3,05,Match 37,"Dubai International Stadium, Dubai",05,NOVEMBER,19:30 IST
4,08,Match 42,"Dubai International Stadium, Dubai",08,NOVEMBER,19:30 IST
5,17,1st T20I,"Sawai Mansingh Stadium, Jaipur",17,NOVEMBER,19:00 IST
6,19,2nd T20I,"JSCA International Stadium Complex, Ranchi",19,NOVEMBER,19:00 IST
7,21,3rd T20I,"Eden Gardens, Kolkata",21,NOVEMBER,19:00 IST
8,25,1st Test,"Green Park, Kanpur",25,NOVEMBER,09:30 IST
9,03,2nd Test,"Wankhede Stadium, Mumbai",03,DECEMBER,09:30 IST
10,17,1st Test,"New Wanderers Stadium, Johannesburg",17,DECEMBER,13:30 IST
11,26,2nd Test,"Supersport Park, Centurion",26,DECEMBER,13:30 IST
12,03,3rd Test,"New Wanderers Stadium, Johannesburg",03,JANUARY,13:30 IST
13,11,1st ODI,"Boland Park, Paarl",11,JANUARY,14:00 IST
14,14,2nd ODI,"Newlands, Cape Town",14,JANUARY,14:00 IST
15,16,3rd ODI,"Newlands, Cape Town",16,JANUARY,14:00 IST
16,19,1st T20I,"Newlands, Cape Town",19,JANUARY,19:30 IST
17,21,2nd T20I,"Newlands, Cape Town",21,JANUARY,19:30 IST
18,23,3rd T20I,"Boland Park, Paarl",23,JANUARY,19:30 IST
19,26,4th T20I,"Boland Park, Paarl",26,JANUARY,19:30 IST